@model IEnumerable<TM__TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Menedżer zadań</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj zadanie</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td style="width:65%">
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>

            <td style="width:35%">
                @Html.ActionLink("Edytuj", "Edit", new { id = item.TaskID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Szczegóły", "Details", new { id = item.TaskID },new { @class = "btn btn-info" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.TaskID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
